.icons {
  display:flex;
  gap:0.7rem;
  a {
    text-decoration: none;
  }
}

.contacts {
  ul {
    list-style-type: none;
    li {
      justify-content: flex-start;
      display:flex;
      align-items: center;
      gap:0.5rem;
      margin: 0.8rem 0;
      color:#fff;
      a {
        
        display:flex;
        text-decoration: none;
        color: #fff;
        margin: 0;
        padding: 0;
        &:hover {
          filter: brightness(0.7);
        }
        
      }
    }
    margin-bottom: 1rem;
  }
}


@media screen and (max-width: 1024px) {
  .icons {
    justify-content: center; 
    align-items: center;
  }
  .contacts {
    ul {
      display:flex;
      flex-direction: column;
      align-items: center;
      li {
        background-color: #262626;
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 40%;
        font-size:0.85rem;
        justify-content: center;
        flex-direction: column;
        margin: 1rem 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .contacts {
    ul {
      li {
        width: 63%;
        font-size:0.85rem;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .contacts {
    ul {
      li {
        width: 90%;
        font-size: 0.9rem;

      }
    }
  }
}

@media screen and (max-width: 320px) {
  .contacts {
    ul {
      li {
        // width: 100%;
        font-size: 0.8rem;
      }
    }
  }
}